.profile-picture {
    border-radius: 50%;
    padding-bottom: 0px;
}

.total{
    padding-right: 15px;
}
.homeSearch {
    width: 50%; 
    
  }
  
  .dropdown {
    width: 90%;
  padding-left: 2px; 
    
  }