.btn{
  padding-top: 25px;
 width: 44%;
 padding-left:20px;
  height:200px;
}

.icon{
  height:200px;
  width: 200px;
}

.label{
 font-size: 20px;
}

.namelabl{
  width: 44%;
  padding-left:20px;
  margin-top: -15px;
}

